PyQt5==5.15.6
websockets==10.3
pyaudio==0.2.11
numpy==1.22.0

Användaridentifiering:

UID: Unik identifierare för varje användare. 
Nickname: Användarnamn som visas för andra användare skall kunna ändras oavsätt.
Identities: Möjlighet att skapa och hantera flera identiteter (varje med unikt UID). men kan ha samma nickname som någon annan.

Användarbehörigheter:

Standardanvändare: Grundläggande rättigheter för att ansluta till servern, chatta och byta rum.
Kanaladministratör: Rättigheter att administrera specifika rum, skapa/ta bort rum, sparka/banna användare från rum. - kan sättas av administratörer
Serveradministratör: Fullständiga rättigheter över hela servern, inklusive hantering av användare och kanaladministratörer. - kan skapas av Super administratör
Super administratör: Fullständiga rättigheter över hela servern, inklusive hantering av användare och administratörer. - ägare av servern - måste ange serverns specifika pirivilegie nyckel

Användarprofiler:

Profilinformation: Möjlighet att spara och visa användarinformation som profilbild, statusmeddelande och kontaktinformation.
Inställningar: Anpassningsbara inställningar för ljud, notifikationer och andra preferenser.

Autentisering och Auktorisering:

Token-baserad autentisering: För säker hantering av användarsessioner.
Roll-baserad auktorisering: För att enkelt kunna tilldela och kontrollera användarbehörigheter.


Kommunikationsprotokoll:

WebSockets: För realtidskommunikation mellan klienter och server.
Protokolldesign: Definiera ett tydligt och välstrukturerat protokoll för att överföra meddelanden mellan klienter och servern.
Kryptering: Använd stark kryptering för att skydda användardata under överföring.
QoS: Implementera mekanismer för att säkerställa hög kvalitet på ljudöverföringen, såsom jitter-buffring och packet loss concealment.



Hantering av Anslutningar:

Rate limiting: För att förhindra missbruk och säkerställa serverprestanda.
Loggning och övervakning: För att hålla koll på användaraktivitet och serverstatus.